@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.month:hover {
  border-radius: var(--month-border-radius);
  background-color: var(--month-hover-bg-color);
}

.month {
  padding: var(--month-select-padding);
  border: solid 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color);
}

.active {
  border-radius: var(--month-border-radius);
  background: var(--month-active-bg-color) !important;
}

.yearContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  margin-top: var(--year-display-margin-top);
  width: 60%;
}

.monthsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.pickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--picker-padding);
  border-radius: 7px;
  border: 1px solid rgb(0 0 0 / 35%);
  color: var(--text-color);
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  background: var(--picker-bg-color);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.bold1 {
  font-size: 1.4rem;
}

.pickerContainer::selection {
  background-color: transparent;
}

:root {
  font-family: 'Roboto', sans-serif;
  --month-active-bg-color: #4ea3983e;
  --month-hover-bg-color: #f4f4f4;
  --text-color: #000;
  --month-border-radius: 7px;
  --picker-bg-color: #fff;
  --picker-padding: 2rem;
  --year-display-margin-top: 0;
  --month-select-padding: 1rem;
}
